<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 side-margin">
      <div class="card">
        <div class="col mt-3 mb-2">
          <div>
            <h4 class="text-center">Gestion de stock</h4>
          </div>

          <div>
            <app-menu></app-menu>
          </div>
        </div>
        
      </div>
    </div>
    <div class="card col-md-10 style-menu background-grey border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="card  p-3 min-height-80 mb-2"><app-header></app-header></div>
        <div class="card" style="min-height: 530px"><router-outlet></router-outlet></div>
        <div class="card min-height-80 mt-2">footer</div>
      </div>
    </div>
  </div>
</div>

