.main-container{
    margin:50px;
}
.min-height-600{
    min-height:600px;
}
.no-flex-wrap{
    flex-wrap: inherit !important;
}
.side-margin{
    margin-right: 16px;
}
.style-menu{
    padding-left: 0px;
    padding-right: 0px;
}