<div class="col">
  <div class="row">
    <div class="col-md-8">
      <h1>Commande Client fournisseur </h1>
    </div>
    <div class="col-md-4 text"  (click)="nouvelleCommande()"  ><app-buttons>
     
    </app-buttons></div>
  </div>
  <div class="col mb-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
          <app-detaill-cmd-client class="custom-width"> </app-detaill-cmd-client>
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
          style="max-height: 300px; overflow-y: scroll"
        >
          <div class="accordion-body">
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
          </div>
        
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-left"><h5>3articles commandes</h5></div>
            <div class="col-md"><h5>total commande :123</h5></div>
          </div>
        </div>
      </div>
<div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
          <app-detaill-cmd-client class="custom-width"> </app-detaill-cmd-client>
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
          style="max-height: 300px; overflow-y: scroll"
        >
          <div class="accordion-body">
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
          </div>
        
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-left"><h5>3articles commandes</h5></div>
            <div class="col-md"><h5>total commande :123</h5></div>
          </div>
        </div>
      </div>
      <!--22222222222222222222222222222-->
      <div class="accordion accordion-flush" id="accordionFlushExample2">
  
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 text-center p-1">
        <div class="text-center">
          <app-pagination></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
