@import "~font-awesome/css/font-awesome.css";/* styles.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
.styl{
    background-color: #8294C4;
    
  }
  .marg{
    margin-left: 5px
    ;
    margin-right: 60;
  }
  .btn-link{
    text-decoration: none;
  }
  