.pointercursor{
    cursor: pointer;

}
.custom-btn {
    background-color: #87C4FF; /* Replace with your desired color */
    color: #ffffff; /* Set text color to be visible against the background color */
    width: 100%;
    padding-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
  }
  .custom2-btn {
    margin-bottom: 5px;
    padding-bottom: 8px;
  }
  .style-subMenu{
    margin-left: 0;
    padding-left: 0;
  }