<div class="col">
  <div class="col-md-12 mb-3">
    <img
      src="assets/producti.jpeg"
      height="200px"
      width="200px"
      class="rounded-circle"
      alt=""
    />
  </div>
  <div class="col-md-12">
    <div class="col-md-10 styleh2 text-left">
      <h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-info-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
          />
        </svg>
        &nbsp;Information de Client
      </h2>
    </div>
    <div class="col-md-12">
      <form class="marinform">
        <div class="row mb-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom client" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="adresse1" />
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prenom " />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="aresse 2" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Email" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville" />
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Telephone" />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="code postale"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">&nbsp;</div>
          <div class="col">
            <input type="text" class="form-control" placeholder="pays" />
          </div>
        </div>

        <div class="col-md-12 buttonright">
          <button class="btn btn-danger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-ban"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8ZM2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z"
              /></svg
            >&nbsp;Annuler
          </button>
          <button class="btn btn-primary spacecss">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-floppy-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5v-13Z"
              />
              <path
                d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V16Zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V0ZM9 1h2v4H9V1Z"
              /></svg
            >&nbsp;Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
