<div class="container my-container">
    <div class="card  row justify-content-md-center"  >
        <div class="card-header text-center" >
      
        <h3>  S'inscrire</h3>
          </div>

        <div class="card-body">
            <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="Nom">
              </div>
            
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="code fiscal">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="email">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="adresee1">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="adresse2">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="ville">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="code postale">
              </div>
              <div class="mb-3">
               
                <input type="text" class="form-control" placeholder="pays">
              </div>
              <div class="mb-3">
               
                <input type="password" class="form-control" placeholder="mot de passe ">
              </div>
              <div class="mb-3">
               
                <input type="password" class="form-control" placeholder="confirmer mot de passe ">
              </div>
            
              <div class="mb-3" class="d-flex justify-content-between">
            
<a  [routerLink]="'/login'" class="btn btn-link">se connecter</a>
                <button type="button" class="btn btn-primary"><i class="fa fa-sign-in"></i>&nbsp; S'inscrire</button>
                
              </div>
        
        </div>
       
     
      </div>
</div>




