<div class="row mb-1 custom-border bg-custom">
  <div class="col-md-2 border-right p-2 text-center">
    <img src="assets/producti.jpeg" alt="" width="100px" height="100px" />
  </div>
  <div class="col-md-4 border-right  ">
    <div class="col ">
      <div class="row ">
        <div class="col-md-1">
         
        </div>
        <div class="col-md-11 pb-2">nom</div>
      </div>
      <div class="row">
        <div class="col-md-1">
         
        </div>
        <div class="col-md-11 pb-2">prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1">
        
        </div>
        <div class="col-md-11 pb-2"> telephone</div>
      </div>
     
    </div>
  </div>
  <!--detail Commande  -->
  <div class="col-md-3 border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
        
        </div>
        <div class="col-md-11 pb-2">codeCommande</div>
      </div>
      <div class="row">
        <div class="col-md-1">
      
        </div>
        <div class="col-md-11 pb-2">Date Commande </div>
      </div>
      <div class="row">
        <div class="col-md-1">
     
        </div>
        <div class="col-md-11 pb-2"> Livree</div>
      </div>
     
    </div>
  </div>
  <!--boutton d'action-->
  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-2 textmvt">
        <button
      
          type="button" class="btn btn-link" >
      Modifier
        </button>
        <div class="col-md-2 textmvt">
          <button type="button" class="btn btn-link" 
>
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

