.styleh2{
margin-top: 10px;
margin-left: 15px;
margin-bottom: 10px;

}
.marinform{
    margin-left:10px ;
    margin-right: 10px;
}
.buttonright{
    

margin-left: 70%;
padding: 20px;


}
.spacecss{
    margin-left: 10px;
}
.alert-color {
    color: #83A2FF !important; /* Changement de la couleur du texte */
  }
  .mr-2{
    margin-left: 10px;
  }