/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eff2f5 !important;
}

.background-grey{
    background-color: #eff2f5 !important;

}
.border-none{
    border: none !important;
}
.min-height-80{
    min-height: 80px;
}
.noLink{
    text-decoration: none;
}